* text=auto eol=lf

*.php          text eol=lf diff=php
*.blade.php    text eol=lf diff=html
*.json         text eol=lf
*.yml          text eol=lf
*.yaml         text eol=lf
*.md           text eol=lf diff=markdown
*.sh           text eol=lf
*.css          text eol=lf diff=css
*.html         text eol=lf diff=html
*.js           text eol=lf
*.ts           text eol=lf

*.png          binary
*.jpg          binary
*.jpeg         binary
*.gif          binary
*.webp         binary
*.ico          binary
*.pdf          binary
*.woff         binary
*.woff2        binary
*.ttf          binary
*.eot          binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
